body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

a {
    color: lightslategray;
}

.blueMenu {
    font-weight: bold;
    color: darkblue;
}

.smallFont {
    font-size: 15px;
}

.xsmallFont {
    font-size: 12px;
}

.space50 {
    height: 100px;
    clear: both;
}

.borderRight {
    border-right: medium solid lightgrey;
}

.sidebarImage {
    height: 105px;
    width: 105px;
}

.yellowMenu {
    font-weight: bold;
    color: yellow;
    margin-top: 300px;
}

.purpleMenu {
    font-weight: bold;
    color: rebeccapurple;
    margin-top: 150px;
}


.topMarginBranding{
    margin-top: 300px;
}

.topMarginIllustrations {
    margin-top: 150px;
}

.carousel-indicators li { visibility: hidden; }

.stretch {
    width: 100%;
    height: 100%;
}

.padding50 {
    padding-top: 50px;
}

.paddingLeft25 {
    padding-left: 25px;
}

.paddingLeft10 {
    padding-left: 10px;
}

.pointer {
    cursor: pointer;
}

.navbar-fixed-side-left {
    left: 0;
}

.navbar-fixed-side-right {
    right: 0;
}

.navbar-fixed-side {
    position: fixed;
    border-width: 0;
    z-index: 1030;
    min-height: 5px;
    min-width: 5px;
    max-width: 800px;
    margin-bottom: 0;
    border: 0px solid transparent;
}

.navbar-fixed-side .navbar-toggle {
    float: none;
    margin: 0;
}

.navbar-fixed-side .nav > li > a {
    width: 100%;
    padding: 5px;
}

.navbar-fixed-side .dropdown-menu > li > a {
    padding: 5px;
}

.navbar-fixed-side .dropdown-header {
    padding: 5px;
}

.navbar-fixed-side .navbar-nav {
    margin: 0;
}

.navbar-fixed-side .navbar-nav > li {
    float: none;
}

.navbar-fixed-side .navbar-nav > li > a {
    padding: 5px;
    line-height: 20px;
}

.navbar-fixed-side .navbar-nav .open .dropdown-menu > li > a,
.navbar-fixed-side .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 3px 5px 3px 15px;
}

.navbar-fixed-side .container {
    width: 100%;
    padding: 0;
}

.navbar-fixed-side .navbar-header {
    float: none;
    margin: 0;
}

.navbar-fixed-side .navbar-collapse {
    padding: 0 2px;
}

.navbar-fixed-side .container .navbar-collapse {
    margin: 0;
}

.navbar-fixed-side .container .navbar-brand {
    margin: 0;
}

.navbar-fixed-side .navbar-brand {
    float: none;
    height: 100%;
    padding: 5px 3px;
    font-size: 18px;
    line-height: 20px;
}


.colorWhite {
    color: #FFFFFF;
}

.posHeader {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.space20 {
    height: 20px;
    clear: both;
}
::-webkit-scrollbar
{
    width: 12px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
}

#sidebarScr::-webkit-scrollbar-thumb
{
    background: #d8d8d8;
}
.scrollOpacity
{
    background: rgba(255, 0, 0, 0.5);

}


.fixedHeight85 {
    height: 85px;
    text-align: center;
}

.marginRight0
{
    margin-right: 0;
    margin-left: 0;
}


.fixedHeight35 {
    height: 35px;
}

#imgRow {
    line-height: 85px;
}

#imgRow img {
    vertical-align: bottom;
}

.vAlignBottom {
    bottom: 0;
}

#img10, #img30, #img60 {
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 250ms;
    animation-duration: 2s;
    animation-delay: 250ms;
}

.width100 {
    width: 100%;
}

.menu {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 16px;
    color: #474C4C;
    letter-spacing: 0;

}

.menu ul {
    text-align: right;
    margin: 20px 0 0 0;
}

.menu ul li a {
    text-decoration: none;
    color: rgba(71, 76, 76, 0.8);
}

.menuGreyActive {
    font-weight: bold;
    font-style: normal;
    color: #474C4C;
}

.pointer {
    display: inline-block;
}

.paintings-img {
    margin: 0 auto;
    width: 116px;
    display: inherit;
}

.sub-title {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 18px;
    color: #464C4C;
    letter-spacing: 6px;
    font-weight: 100;
    margin: 25px 0px 40px 0px;
    display: inline-block;
}

.paintings-info {
    opacity: 0.47;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 16px;
    color: #474C4C;
    letter-spacing: 0;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .0001) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .0001)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}

.main-title {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 16px;
    color: rgba(71, 76, 76, 0.3);
    letter-spacing: 0;
    text-transform: uppercase;
}

.main .txt-paintings h3 {
    font-family: Roboto;
    font-weight: normal;
    color: #44e3c4;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.main .hover-stages h4 {
    font-family: 'Roboto-Light', sans-serif;
    font-weight: normal;
    color: rgba(71, 76, 76, 0.7);
}

.txt-illustration h3 {
    font-family: Roboto;
    font-weight: normal;
    color: #8f23cd;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.txt-branding h3 {
    font-family: Roboto;
    font-weight: normal;
    color: #dfbf28;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.txt-uiux h3 {
    font-family: Roboto;
    font-weight: normal;
    color: #3833ea;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.info-panel {
    background: #fff;
    margin-top: 30px;
}

.info-panel .txt-title {
    font-family: 'Roboto-Light', sans-serif;
    font-weight: normal;
    color: #1B1B1B;
    text-transform: uppercase;
    letter-spacing: 5px;

}

.expertise .top, .expertise .bottom, .left-bottom, .top-right {
    font-family: 'Roboto-Light', sans-serif;
    font-weight: normal;
    color: rgba(71, 76, 76, 0.7);
    font-size: 14px;
}

.expertise .bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

.left-bottom {
    position: absolute;
    bottom: 0;
}

.plabels {
    position: relative;
    height: 225px;
}

.lHeader {
    margin: 30px 0;
    font-family: 'Roboto-Light', sans-serif;
    font-weight: normal;
    color: #1B1B1B;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.expertise .txt-brand {
    right: 40px;
    bottom: 20px;
}

.expertise .txt-illustration {
    bottom: 4px;
    left: -45px;
}

.expertise .txt-logotype {
    top: -30px;
    left: 40px;
}

.expertise .txt-corporate {
    bottom: -5px;
    left: 52px;
}
.space70 {
    height: 70px;
    clear: both;
}

.pos-rect {
    background: #9DBBBF;
    box-shadow: 0 2px 4px 0 rgba(145, 144, 144, 0.50);
}
.space15 {
    height: 15px;
    clear: both;
}
.job-experiance {
    font-family: 'Roboto-Light', sans-serif;
    font-weight: normal;
    color: rgba(71, 76, 76, 0.7);
    font-size: 14px;
}