<page-header></page-header>

<div class="row padding50">

    <div class="row" id="row1">
        <div class="col-md-3">
            <!--<img id="pl1" class="paintings-img" src="../app/resources/branding/branding_image.png"/>-->
            <div class="row">
                <strong class="sub-title">Fullbox</strong>
            </div>
            <div class="row paintings-info">
                <p>All in one software solutions</p>
                <p>(branding)</p>
                <p>Date Created: December 2015</p>
                <p>Owner: KSPE Software</p>
                <br/>
                <p>A web based project to provide assistance
                    to those who seek a full package of services
                    for an end to end software development and product implementation.</p>
            </div>
        </div>
        <div class="col-md-9">
            <imgslider [slides]="this.slides1"></imgslider>
        </div>

        <div class="navbar-fixed-side navbar-fixed-side-right">
            <sidebar [title]="'PAINTINGS/PRINTS'" [Items]="this.SideBarItems"
                     (itemclicked)="this.scrollToElement($event)"></sidebar>
        </div>

    </div>
    <div class="space50"></div>
    <div class="row" id="row2">
        <div class="col-md-3">
            <!--<div class="row">-->
            <!--<img class="paintings-img" id="pl2" src="../app/resources/branding/branding_image.png">-->
            <!--</div>-->
            <div class="row">
                <strong class="sub-title">KWISTY</strong>
            </div>
            <div class="row paintings-info">
                <p>Fashion brand</p>
                <p>(branding)</p>
                <p>Date Created: Feb 2016</p>
                <p>Owner: Kristine Grigoryan</p>
                <br/>
                <p>Kwisty was founded as a multi segmented brand. The idea was to create a visual that would be
                    appealing both men and women and a wide age range.
                    The need of product line extensions made us come up with multiple logotype usages within main
                    identity.</p>
            </div>
        </div>
        <div class="col-md-9">
            <imgslider [slides]="this.slides2"></imgslider>
        </div>
    </div>

    <div class="space50"></div>

    <div class="row" id="row3">
        <div class="col-md-3">
            <!--<img class="paintings-img" id="pl3" src="../app/resources/branding/branding_image.png">-->
            <div class="row">
                <strong class="sub-title">LUXRESTO</strong>
            </div>
            <div class="row paintings-info">
                <p>Online restaurant booking</p>
                <p>(logotype design/single page web)</p>
                <p>Date Created: Jun 2016</p>
                <p>Owner: Luxresto LLC</p>
                <br/>
                <p>Luxresto is an online restaurant booking portal.
                    Logotype is a combination of multiple field related symbols stylized into a single element.
                </p>
            </div>
        </div>
        <div class="col-md-9">
            <imgslider [slides]="this.slides3"></imgslider>
        </div>
    </div>

    <div class="space50"></div>

    <!--<div class="row" id="row4">-->
    <!--<div class="col-md-3">-->
    <!--<img class="paintings-img" id="pl4" src="../app/resources/branding/branding_image.png">-->
    <!--<div class="row text-center">-->
    <!--<strong class="sub-title">PROJECT NAME 4</strong>-->
    <!--</div>-->
    <!--<div class="row paintings-info">-->
    <!--Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the-->
    <!--industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and-->
    <!--scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap-->
    <!--into-->
    <!--electronic typesetting, remaining essentially unchanged.-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-9">-->
    <!--<imgslider [slides]="this.slides4"></imgslider>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="space50"></div>-->


</div>

