<page-header></page-header>

<div class="row padding50">

    <div class="row" id="row1">
        <div class="col-md-3">
            <!--<img id="pl1" class="paintings-img" src="../app/resources/illustrations/illustrations_image.png"/>-->
            <div class="row">
                <strong class="sub-title">4 The Love Of Alcohol (1st edition)</strong>
            </div>
            <div class="row paintings-info">
                <p>(Print/accessories)</p>
                <p>Date Created: Sept 2015</p>
                <p>Owner: Lost&Found co.</p>
                <br/>
                <p>The concept “for the love of alcohol”… is a projection of our world around alcohol, how the world
                    changes after you drink. What are the things that relate to a particular spirit.
                    eg : beer as a drink.- pubs, casual hangouts, friends, rock music, fun friendly atmosphere, younger
                    /single crowd, beer makes u carefree, happy like a kid…and so on.</p>
            </div>
        </div>
        <div class="col-md-9">
            <imgslider [slides]="this.slides1"></imgslider>
        </div>

        <div class="navbar-fixed-side navbar-fixed-side-right">
            <sidebar [title]="'ILLUSTRATIONS'" [Items]="this.SideBarItems"
                     (itemclicked)="this.scrollToElement($event)"></sidebar>
        </div>

    </div>
    <div class="space50"></div>
    <div class="row" id="row2">
        <div class="col-md-3">
            <!--<div class="row">-->
            <!--<img class="paintings-img" id="pl2" src="../app/resources/illustrations/illustrations_image.png">-->
            <!--</div>-->
            <div class="row">
                <strong class="sub-title"> 4 The Love Of Alcohol (2nd edition)</strong>
            </div>
            <div class="row paintings-info">
                <p>(Print/accessories)</p>
                <p>Date Created: Oct 2015</p>
                <p>Owner: Lost&Found co.</p>
                <br/>
                <p> With the success of the first edition, we decided to continue the line and make it more specific
                    drink
                    oriented.</p>
            </div>
        </div>
        <div class="col-md-9">
            <imgslider [slides]="this.slides2"></imgslider>
        </div>
    </div>
    <div class="space50"></div>
    <div class="row" id="row3">
        <div class="col-md-3">
            <!--<img class="paintings-img" id="pl3" src="../app/resources/illustrations/illustrations_image.png">-->
            <div class="row">
                <strong class="sub-title">Eaden Creatives</strong>
            </div>
            <div class="row paintings-info">
                <p>Wall art / Brand visuals</p>
                <p>Date Created: march 2012</p>
                <p>Owner: Eaden Creatives</p>
                <br/>
                <p>Design that elevated from a wall sketch to a full wall art and later became the cornerstone for all
                    brand identity materials.</p>
            </div>
        </div>
        <div class="col-md-9">
            <imgslider [slides]="this.slides3"></imgslider>
        </div>
    </div>
    <div class="space50"></div>

</div>


