
<div class="main">
<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center main-title">
        <h3>Hover! It's fun</h3>
        <!--<h3>{{this.testInfo}}</h3>-->
    </div>
</div>
<div class="row">

    <div class="col-md-3 text-center hover-stages">
        <div class="row txt-uiux" [hidden]="this.mode != 2">
            <h3 >UI/UX</h3>
            <h4>A logical twist to a single button can take a user’s experience to a whole new level </h4>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <div [hidden]="this.mode != 1">
            <img src="../app/resources/main/main1.png" (mousemove)="this.OnMouseOver($event)"/>
        </div>
        <div [hidden]="this.mode != 2" routerLinkActive="active">
            <a routerLink="/uiux">
                <img src="../app/resources/main/main4.png" (mousemove)="this.OnMouseOver($event)"/>
            </a>
        </div>
        <div [hidden]="this.mode != 3" routerLinkActive="active">
            <a routerLink="/paintings">
                <img src="../app/resources/main/main3.png" (mousemove)="this.OnMouseOver($event)"/>
            </a>
        </div>
        <div [hidden]="this.mode != 4" routerLinkActive="active">
            <a routerLink="/illustrations">
                <img src="../app/resources/main/main2.png" (mousemove)="this.OnMouseOver($event)"/>
            </a>
        </div>
        <div [hidden]="this.mode != 5" routerLinkActive="active">
            <a routerLink="/branding">
                <img src="../app/resources/main/main5.png" (mousemove)="this.OnMouseOver($event)"/>
            </a>
        </div>
        <div [hidden]="this.mode != 6">
                <img src="../app/resources/main/bgmainColored.png" (mousemove)="this.OnMouseOver($event)"/>
        </div>
    </div>
    <div class="col-md-3 text-center hover-stages">
        <div class="row txt-paintings" [hidden]="this.mode != 3">
            <h3 >Paintings</h3>
            <h4 >Take a look inside a different world that can be both charming and dark</h4>
        </div>


        <div class="row txt-illustration" [hidden]="this.mode != 4">
            <h3 class="topMarginIllustrations">Illustrations</h3>
            <h4 >Creativity and detail the perfect formula for success </h4>
        </div>


        <div class="row txt-branding" [hidden]="this.mode != 5">
            <h3 class="topMarginBranding">Branding</h3>
            <h4 >A simple clear cut logo is worth a thousand words </h4>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12 text-center hover-stages">
        <h4>Welcome to Gyozalyan Space. I am Armine Gyozalyan-Interaction/Visual Designer, Artist and just an aesthetics nerd.
            Feel free to explore my journey from making of visit cards to Web Interactions with a crook of painting spree.
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        <a href="#" (click)="this.loadMore()"><h5>More..</h5></a>
    </div>
</div>

<!--<div [hidden]="!this.showMore">-->
<div *ngIf="this.showMore">
    <div id="scrlId">
        <more-info></more-info>
    </div>
</div>
</div>