<div class="row menu">
    <div class="col-md-3">
        <a routerLink="/"><img src="../app/resources/main/logo-anim.gif"  class="width100"/></a>
    </div>
    <div class="col-md-9">
    <ul class="list-inline  pt5">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLinkActive="menuGreyActive" routerLink="/uiux">UI/UX</a></li>
        <li><a routerLinkActive="menuGreyActive" routerLink="/illustrations">Illustrations</a></li>
        <li><a routerLinkActive="menuGreyActive" routerLink="/paintings">Paintings</a></li>
        <li><a routerLinkActive="menuGreyActive" routerLink="/branding">Branding</a></li>
    </ul>
</div>
</div>