<page-header></page-header>

<div class="row padding50">

    <div class="row" id="row1">
        <div class="col-md-3">
            <!--<img id="pl1" class="paintings-img" src="../app/resources/paintings/paintings_image.png"/>-->
            <div class="row">
                <strong class="sub-title">Portrait of a young man</strong>
            </div>
            <div class="row paintings-info">
                <p> Date Created: Sept 2015
                </p>
                <p> Medium: Acrylics
                </p>
                <p> Size: 50x70cm
                </p>
                <br/>
                <p> A portrait inspired from a photograph of a boy from an orphanage: 1950's
                </p>
            </div>
        </div>
        <div class="col-md-9">
            <imgslider [slides]="this.slides1"></imgslider>
        </div>

        <div class="navbar-fixed-side navbar-fixed-side-right">
            <sidebar [title]="'PAINTINGS/PRINTS'" [Items]="this.SideBarItems"
                     (itemclicked)="this.scrollToElement($event)"></sidebar>
        </div>

    </div>
    <div class="space50"></div>
    <div class="row" id="row2">
        <div class="col-md-3">
            <!--<div class="row">-->
            <!--<img class="paintings-img" id="pl2" src="../app/resources/paintings/paintings_image.png">-->
            <!--</div>-->
            <div class="row">
                <strong class="sub-title">Feels/portrait of a life</strong>
            </div>
            <div class="row paintings-info">
                <p> Date Created: Nov 2016
                </p>
                <p> Medium: Acrylics
                </p>
                <p> Size: 90x120cm
                </p>
                <br/>
                <p> A story of a lifetime. A man's journey from a boy to an elderly man.
                </p>
            </div>
        </div>
        <div class="col-md-9">
            <imgslider [slides]="this.slides2"></imgslider>
        </div>
    </div>

    <div class="space50"></div>

    <div class="row" id="row3">
        <div class="col-md-3">
            <!--<img class="paintings-img" id="pl4" src="../app/resources/paintings/paintings_image.png">-->

            <div class="row">
                <strong class="sub-title">Cultural Prints/ Taraz</strong>
            </div>
            <div class="row paintings-info">
                <p> Date Created: Apr 2015
                </p>
                <p> Medium: Acrylics
                </p>
                <p> Size: 50x70cm
                </p>
                <br/>
                <p> A series of portraits inspired by Armenian
                    Cultural elements
                </p>
            </div>

        </div>
        <div class="col-md-9">
            <imgslider [slides]="this.slides3"></imgslider>
        </div>
    </div>

    <div class="space50"></div>

    <div class="row" id="row4">
        <div class="col-md-3">
            <!--<img class="paintings-img" id="pl4" src="../app/resources/paintings/paintings_image.png">-->
            <div class="row">
                <strong class="sub-title">Cultural Prints/Gyumri</strong>
            </div>
            <div class="row paintings-info">
                <p> Date Created: March 2015
                </p>
                <p> Medium: Acrylics
                </p>
                <p> Size: 50x70cm
                </p>
                <br/>
                <p> A series of portraits inspired by Armenian
                    Cultural elements</p>
            </div>

        </div>
        <div class="col-md-9">
            <imgslider [slides]="this.slides4"></imgslider>
        </div>
    </div>

    <div class="space50"></div>

    <div class="row" id="row5">
        <div class="col-md-3">
            <!--<img class="paintings-img" id="pl5" src="../app/resources/paintings/paintings_image.png">-->
            <div class="row">
                <strong class="sub-title">Old Man Dying</strong>
            </div>
            <div class="row paintings-info">
                <p>Date Created: Dec 2015</p>
                <p>Medium: Oil</p>
                <p>Size: 150x180cm</p>
                <br/>
                <p>Thoughts and feels of an aging, inner struggle with approaching defeat</p>
            </div>
        </div>
        <div class="col-md-9">
            <imgslider [slides]="this.slides5"></imgslider>
        </div>
    </div>

    <div class="space50"></div>

</div>


